.has-search .form-control {
  padding-left: 3rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #e5e5e5;
  padding-left: 22px;
}
.searchbar {
  width: 100% !important;
  border-radius: 50px;
  font-size: 24px !important;
}
